<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265168080047-ffcmjtpau25vnn2stmaiq98hdtc6tei1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265168080047-ffcmjtpau25vnn2stmaiq98hdtc6tei1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>265168080047-8j2blpi27v42nf9jic1q4qqas4q2frip.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9I6A6xjy8ESOY-xfeC13aEBnR6vRRCgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>265168080047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tweener.quotell</string>
	<key>PROJECT_ID</key>
	<string>quotell</string>
	<key>STORAGE_BUCKET</key>
	<string>quotell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265168080047:ios:7b1ceb8030eafba2c8185a</string>
	<key>DATABASE_URL</key>
	<string>https://quotell-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>